fieldset.settings-field-sender-address {
    margin: 0;
    padding: 0;
    boder: 0;
}

table.sender-address {
    position: relative;
    table-layout: fixed;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
}

table.sender-address thead td {
    display: table-cell;
    padding: 1em;
    vertical-align: top;
    line-height: 1.75em;
    text-align: left;
    font-weight: 600;
    text-shadow: none;
    font-size: 14px;
}

table.sender-address tbody td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: top;
    border-top: 1px solid #e5e5e5;
}

table.sender-address tfoot td {
    border-top: 1px solid #e1e1e1;
}

table.sender-address tbody tr:nth-child(even) td {
    background: #f9f9f9;
}

table.sender-address input.non-unique {
    background: #d62728;
}

table.sender-address tbody td span {
    display: none;
}

table.sender-address tbody td.non-unique span {
    display: block;
}

table.sender-address input[type="text"] {
    max-width: 100%;
    width: 100%;
}

table.sender-address input[type="email"] {
    max-width: 100%;
    width: 100%;
}

table.sender-address tbody tr td:first-child select {
    width: 100%;
}

@media only screen and (max-width: 600px) {

    table.sender-address tbody tr td:first-child select {
        width: auto;
        max-width: 100%;
    }

    table.sender-address, table.sender-address tbody {
        display: block;
    }
    table.sender-address thead {
        display: none;
    }

    table.sender-address tbody tr td:first-child,
    table.sender-address thead tr td:first-child {
        width: 100%;
        display: block;
    }
    table.sender-address tbody tr, table.sender-address tbody td {
        display: block;
        width: 100%;
    }
}
